{% extends 'base.html' %}

{% block title%} Posts {% endblock title%}

{% block content %}
<ul>
    <div class="d-flex" felx-row flex wrap bd-highlight mb-3>
        {% for post in post_list %}

        <div class="card message">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Message #{{ post.id }}</h6>
                <p class="card-text"> {{ post.body|truncatechars:128 }}</p>
                <a href="{% url 'post_detail' post.id %}" class="btn card-button">Read more...</a>
            </div>
        </div>

        {% endfor %}
    </div>

</ul>

{% endblock content %}